@charset "UTF-8";

/*로그인테이블 전체 배치*/
#login_table{
  margin: 120px auto;
	display:block;
	width: 400px;
	border-radius:10px;
}

/*로그인 캡션 테이블 배치*/
#member_login_title{
  padding: 10px;
  margin-bottom: 10px;
	font-size: 28px;
  width: 400px; 
	display:block;
	font-weight: bold;
}

.member_login{
    width: 100%;
    height: 48px;
    margin: 10px 0;
    font-size: 100%;
  	color:white;
  	background-color:#ec2028;
  	border: none;
  	border-radius: 6px;
  	cursor: pointer;
  	font-weight: bold;
}

/*아이디 찾기, 비밀번호 찾기, 회원가입 테이블*/
#member_login_top_bottom{
    text-align: center;
}

#member_login_top_bottom input {
  color: #999999;
}


/*아이디 찾기, 비밀번호 찾기, 회원가입 배치 세부 설정*/
 .member_login_select_detail{
    border: 0px;
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
    background: none;
 }

/*아이디, 비밀번호안내창 배치*/
.member_login_id_pwd_text{
	font-size:100%;
	padding: 10px;
	border:0px;
  width: 400px;
  height: 45px;
	border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 3px;
}

/*멤버아이디저장*/
.id_save {
  padding: 5px;
}

#member_save_id_checkbox{
	width: 20px;
    height: 20px;
    border-radius: 40px;
}

#member_id_save_text{
    margin-left: 35px;
    margin-top: 3px;
	  position: absolute;
}

/*회원탈퇴 텍스트*/
.member_withdraw_text{
    font-size: 100%;
    padding: 10px;
    border: 0px;
    width: 400px;
    border-radius: 10px;
}